<% layout('layouts/boilerplate') %>
<h1>all study spots</h1>
<div>
    <a href="/spots/new">Add spot</a>
</div>
<ul>
    <% for( let studySpot of studySpots ) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= studySpot.image %>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="cart-title"><%= studySpot.title %></h5>
                        <p class="card-text"> <%= studySpot.description %></p>
                        <p class="card-text">
                            <small class="text-muted"> <%= studySpot.location %></small>
                        </p>
                        <a class="btn btn-primary" href="spots/<%= studySpot.id %>">View <%= studySpot.title %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</ul>
