<% layout('layouts/boilerplate') %>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="card mb-5">
        <img src="<%= studySpot.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= studySpot.title %>
          </h5>
          <p class="card-text">
            <%= studySpot.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= studySpot.location %>
          </li>
        </ul>
        <div class="card-body">
          <a href="/spots/<%= studySpot._id %>/edit" class="btn btn-warning">Edit</a>
          <form class="d-inline" action="/spots/<%= studySpot._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
          </p>
          <a href="/spots" class="card-link">All spots</a>
        </div>
      </div>
    </div>
  </div>